/* Global Stylesheet */
/* This applicatation utilizes Bootstrap to provide objects (such as the */
/* navbar) but provides placement through a global style */

/* Class for the <body> */
.app-body {
  background-color: #3b0f6d;
  height: 100%;
  margin: 0;
  width: 100%;
}

.app-content {
  background-color: #000;
  color: #541ee4;
  font-family: "Lucida Console", Monaco, monospace;
  height: 90%;
  margin: 8vh auto auto auto;
  max-width: 80%;
  padding: 2em;
}
