<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="description" content="Python - Flask Example" />
    <meta name="keywords" content="python,flask" />
    <meta name="author" content="Kyle J. Egland" />
    {% block title %}
    <title>Flask Example</title>
    {% endblock %}
    <link rel="icon" href="static/favicon/favicon.ico" />
    {% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resetstyle.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
    {% endblock %}
  </head>
  <body class="app-body" id="body">
    {# Navbar #}
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Example</a>
      {# This creates the menu button when items are collapsed #}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {# The Contents of this div is collapsable #}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Forms
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('formsubmit.formredirect') }}">Submit with Redirect</a>
              <a class="dropdown-item" href="#">Submit without Redirect</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
          </li>
        </ul>
        {# Search bar #}
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    {# CONTENT BLOCK #}
    {# Content from pages inheriting base.html #}
    <div class="container mx-auto mt-5" id="content">
      {% block content %}
      {% endblock %}
    </div>
    {# Script block #}
    {# Used to allow other pages to either super() and add toor exclude entirely, exchanging page specific scripts #}
    {% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    {% endblock %}
  </body>
</html>
