{% extends "base.html" %}
{% block title %}
<title>Welcome to Example App!</title>
{% endblock %}

{% block content %}
<h1>Welcome to my example app!</h1>
<p>This is the landing/home/index page for the Example Application (the thing you're viewing right now). First, take a look around at everything - each part of this application is intended to be interacted with. Check out each component available in the navigation bar and come back here anytime by selecting Example in the navbar. Thanks for checking out this project and enjoy!</p>
<h2>Contents</h2>
<p>This application is broken up into various "sub-applications" (referred to simplay as "app" or "apps"). Each app is meant to be an example of some way in which to accomplish something with Flask (I.e. processing a form, database CRUD operations, etc.). Each application will have some information regarding it's aims and use on the app's page. Use the navigation bar or select one of the links below</p>
{# Index navigation and descriptions #}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-forms-tab" data-toggle="pill" href="#v-pills-forms" role="tab" aria-controls="v-pills-forms" aria-selected="true">Forms</a>
        <a class="nav-link" id="v-pills-apis-tab" data-toggle="pill" href="#v-pills-apis" role="tab" aria-controls="v-pills-apis" aria-selected="false">APIs</a>
        <a class="nav-link" id="v-pills-users-tab" data-toggle="pill" href="#v-pills-users" role="tab" aria-controls="v-pills-users" aria-selected="false">User Management</a>
      </div>
    </div>
    <!-- Force next column to break to new line -->
    <!-- <div class="w-100 d-none d-lg-block"></div> -->
    <div class="col-sm-8">
      <div class="tab-content" id="v-pills-tabContent">
        {# Forms Nav Content #}
        <div class="tab-pane fade show active" id="v-pills-forms" role="tabpanel" aria-labelledby="v-pills-forms-tab">
          <ul class="list-group">
            <li class="list-group-item"><a href="#">Form submit with redirect</a></li>
            <li class="list-group-item"><a href="#">Form submit without redirect</a></li>
          </ul>
        </div>
        {# APIs Nav Content #}
        <div class="tab-pane fade" id="v-pills-apis" role="tabpanel" aria-labelledby="v-pills-apis-tab">
          <ul class="list-group">
            <li class="list-group-item"><a href="#">Internal API</a></li>
            <li class="list-group-item"><a href="#">Third-Party API</a></li>
          </ul>
        </div>
        {# User Management Nav Content #}
        <div class="tab-pane fade" id="v-pills-users" role="tabpanel" aria-labelledby="v-pills-users-tab">
          <ul class="list-group">
            <li class="list-group-item"><a href="#">Application (Internal) Users</a></li>
            <li class="list-group-item"><a href="#">Third-Party User Auth</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}